<div class="profile_grid">
  <div style="text-align: center">
    <div>
      <img src='../images/user_male2-512.png' style="text-align: end;" class="img_profile">
      <div style="float:right">
        <button type="button" class="btn btn-outline-success">Edit profile</button>
      </div>
    </div>
    
    <p>{{user.username}}</p>
    <hr>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          {{user.email}}
        </div>
        <div class="col-sm-6">
          {{user.address}}
        </div>
      </div>
    </div>
  </div>
  <br>

  <form action="/user/edit-preferences" method="post">
  <div>
    <p>Choose your benefits of food:</p>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="true" name="do_not_eat_meat" id="defaultCheck1" {{#if user.do_not_eat_meat}}checked{{/if}}>
              <label class="form-check-label" for="defaultCheck1">
                Don`t eat meat
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="true" name="do_not_eat_fish" id="defaultCheck1" {{#if user.do_not_eat_fish}}checked{{/if}}>
              <label class="form-check-label" for="defaultCheck1">
                Don`t eat fish
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="true" name="do_not_eat_dairy_product" id="defaultCheck1" {{#if user.do_not_eat_dairy_product}}checked{{/if}}>
              <label class="form-check-label" for="defaultCheck1">
                Don`t eat dairy products
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="true" name="do_not_eat_lactose" id="defaultCheck1" {{#if user.do_not_eat_lactose}}checked{{/if}}>
              <label class="form-check-label" for="defaultCheck1">
                Don`t eat lactose
              </label>
            </div>
            <div class="col-sm-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="true" name="do_not_eat_egg" id="defaultCheck1" {{#if user.do_not_eat_egg}}checked{{/if}}>
              <label class="form-check-label" for="defaultCheck1">
                Don`t eat egg
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="true" name="do_not_eat_sugar" id="defaultCheck1" {{#if user.do_not_eat_sugar}}checked{{/if}}>
              <label class="form-check-label" for="defaultCheck1">
                Don`t eat sugar
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="true" name="do_not_eat_gluten" id="defaultCheck1" {{#if user.do_not_eat_gluten}}checked{{/if}}>
              <label class="form-check-label" for="defaultCheck1">
                Don`t eat gluten
              </label>
            </div>
          </div>
        </div>
      </div>


      <div style="text-align: center;">
        <button class="btn btn-outline-success" type="submit" style="width:50%">Edit preferences</button>
      </div>
    </div>
    <div style="    text-align: center;">
      <a href="/" class="btn btn-outline-success" style="width:50%">To the main page</a>
    </div>
  </div>
  </form>
  
</div>

<div class="basket">
    <p>Your shopping cart</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Amount</th>
          <th scope="col">Price</th>
          <th scope="col">----</th>

        </tr>
      </thead>
      <tbody>
        {{#each prod_in_basket}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{this.product}}</td>
          <td>{{this.amount}}</td>
          <td>{{this.total_price}}</td>
          <td>
            <button type="button" class="btn btn-outline-success">Delete</button>
          </td> 
          {{/each}}
        </tr>
      </tbody>
    </table>
    <div style="    text-align: center;">
      <button type="button" class="btn btn-outline-success" style="width:50%">Make a check</button>
    </div>
  </div>
