<div class="profile_grid">
  <div style="text-align: center">
    <div>
      <img src='../images/user_male2-512.png' style="text-align: end;" class="img_profile">
      <div style="float:right">
        <p>{{user.username}}</p>
        <button type="button" class="btn btn-outline-success">Edit profile</button>
      </div>
    </div>

    <hr>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          {{user.email}}
        </div>
        <div class="col-sm-6">
          {{user.address}}
        </div>
      </div>
    </div>
  </div>
  <br>

  <div>
    <p>Choose your benefits of food:</p>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Don`t eat meat
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Don`t eat fish
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Don`t eat dairy products
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Don`t eat lactose
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Don`t eat sugar
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Don`t eat gluten
              </label>
            </div>
          </div>
        </div>
      </div>


      <div style="text-align: center;">
        <button type="button" class="btn btn-outline-success" style="width:50%">Edit preferences</button>
      </div>
    </div>
    <div style="    text-align: center;">
      <button type="button" class="btn btn-outline-success" style="width:50%">To the main page</button>
    </div>
  </div>
  
</div>

<div class="basket">
    <p>Your shopping cart</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th score="col">Category</th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">----</th>

        </tr>
      </thead>
      <tbody>
        {{#each prod_in_basket}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{this.cat_name}}</td>
          <td>{{this.prod_name}}</td>
          <td>{{this.price}}</td>
          <td>
            <button type="button" class="btn btn-outline-success">Delete</button>
          </td> 
          {{/each}}
        </tr>
      </tbody>
    </table>
    <div style="    text-align: center;">
      <button type="button" class="btn btn-outline-success" style="width:50%">Make a check</button>
    </div>
  </div>